{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'irrigation_app/mytheme.css' %}">
        <script src="{% static 'irrigation_app/plotly-latest.min.js' %}"></script>
        <title>Raspberry Pi Irrigation</title>
    </head>
    <body>
        <h1>Raspberry Pi Irrigation</h1>
        <h2>Soil moisture data</h2>
        <div class="column" id="tester" style="height: 60%"></div>
    </body>
</html>
<script> 
    var data = JSON.parse("{{data|escapejs}}"); 
    var traces = [];

    for (d of data) {
        traces.push({
            x: d["times"],
            y: d["values"],
            mode: 'lines+markers',
            name: d["name"] + ' ' + d["unit"]
        });
    }

    var layout = {
        autosize: true,
        modebar: {
            orientation: "h",
        },
        showlegend: true,
        legend: {
            orientation: "h",
            y: 1.1
        },
        xaxis: {
            title: 'Time'
        }
    }; 
    
    var plotNode = document.getElementById("tester"); 
    Plotly.newPlot(plotNode, traces, layout);
</script>
